doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    |  <a href="crear_proyecto">Crear Proyecto</a>
    |  <a href="crear_tarea">Crear Tarea</a>
    |  <a href="crear_subtarea">Crear Subtarea</a>
    |  <a href="borrar_proyecto">Borrar Proyecto</a>
    |  <a href="borrar_tarea">Borrar Tarea</a>
    |  <a href="borrar_subtarea">Borrar Subtarea</a>
    |  <a href="listar_proyecto">Listar Proyectos</a>
    |  <a href="listar_tarea">Listar Tareas</a>
    |  <a href="listar_subtarea">Listar Subtareas </a>
    block content
    
